.container {
}

.container > div {
  margin-bottom: 16px;
}

.grid {
  margin: 16px auto;
}

.row {
  width: 100%;
  max-width: 525px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
}

.buttonGroup {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
}

label {
  cursor: pointer;
}

.subheading {
  font-size: 20px;
}
