.root {
  max-width: 525px;
  margin: 0 auto;
}

.title {
  margin-bottom: 16px;
}

.link {
  padding: 0 12px;
  margin-bottom: 12px;
  text-align: center;
}

h1 {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.about {
  padding: 0 12px;
  margin-bottom: 12px;
  text-align: center;
}
